<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbConnection" value="data source=198.1.1.234;uid=sa;password=zy01sy?;database=CTI_EDIECS" />
    <add key="DbEdidata1" value="data source=198.1.1.3;uid=sa;password=zy01sy?;database=EDIDATA1" />
    <add key="ftpHost" value="198.1.1.234" />
    <add key="ftpUser" value="administrator" />
    <add key="ftpPass" value ="zy01sy?" />
    <add key="ftpExpRoot" value="/dmc/exp/nmb" />
    <add key="ftpImpRoot" value="/dmc/imp/nmb" />
  </appSettings>
</configuration>